<!DOCTYPE html>
<html>
<head>
  <title>Uopeople</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--Navigation -->

	<div class="navbar  navbar-inverse navbar-fixed-top">
  		<div class="navbar-inner">
  			<div class="container">
    			<a class="brand" href="#">Uopeople Hangout</a>
    			<ul class="nav">
      				<li class="active"><%= link_to "All Statuses", statuses_path %></li>
      				<li><a href="#">Link</a></li>
      				<li><a href="#">Link</a></li>
    			</ul>
  			</div>
		</div>
	</div>

  <!--Yield -->
<div class="container">
          <!--Flash messages -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>
</div>

</body>
</html>
